.button-like {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 3px;
}

.not-liked-icon {
  background-color: inherit;
}

.liked-icon {
  background-color: rgb(255, 7, 7);
}