.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 384px;
  min-height: 374px;
  max-height: 647px;
  margin: 0 auto;
  padding: 48px 32px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 6px;
  box-shadow: 0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.02),0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.03),0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.04),0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.04),0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.05),0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
  }

  &__label {
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    margin: 0 auto;
    width: 320px;
    color: rgb(38, 38, 38);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__input {
    width: 320px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    outline: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__input-error {
    border: 1px solid red;
  }

  &__error-message {
    color: rgb(245, 34, 45);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }


  &__label-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(89, 89, 89);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
      }

  &__checkbox {

    padding-top: 3px;
    width: 16px;
    height: 16px;
    accent-color: rgb(24, 144, 255);
    transform: translateY(3px);
  }

  &__button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    width: 319px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    background: rgb(24, 144, 255);
    color: rgb(255, 255, 255);

    &-text {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center;
      color: rgb(89, 89, 89);
    }
  }

  &__link {
    text-decoration: none;
    color: rgb(24, 144, 255);
  }
}


// стили блока с тегами
.create-article-form-wrap {
  width: 938px;
  min-height: 701px;

}

.create-article-form {
  width: 100%;

  &__label{
    width: 100%;
    height: 64px;
  }
  &__input {
    width: 100%;
    height: 40px;
  }

  &__label-textarea{
    width: 100%;
    min-height: 174px;
  }

  &__textarea{
    width: 864px;
    min-height: 168px;
    max-height: auto;
    resize: vertical;
  }

}
.label-tags-wrap{
  width: 100%;
}

.form-tags {
  display: flex;
  gap: 18px;
  
  &__input-tag{
    width: 300px;
    height: 40px;
  }

  &_button{
    all: unset;
    cursor: pointer;
    width: 118px;
    height: 40px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--delete {
      border: 1px solid rgb(245, 34, 45);
      color: rgb(245, 34, 45);
      transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
      
      &:hover {
        color: white;
        background-color: rgb(245, 34, 45);
      }
    }

    &--add {
      border: 1px solid rgb(24, 144, 255);
      color: rgb(24, 144, 255);
      transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;

      &:hover {
        color: white;
        background-color: rgb(24, 144, 255);
      }
    }
  }
}